h1{
    color: rgb(98, 98, 150);
    text-align:center;
    text-decoration:underline;
    text-transform: uppercase;
    border: 5px solid rgb(19, 19, 18);
    padding: 10px;
    margin-left:500px; 
    margin-right: 500px;
    background-image: linear-gradient(skyblue,rgb(235, 235, 134));
}
p{
    font-size: 30px;
    font-family: 'Arial Narrow';
}
ul{
    font-size:30px; 
    list-style: square ;
}
a{
    text-decoration:solid;
}
body{
    background-color: bisque;
}
image{
    margin :auto;
    border-radius: 50px;
}