ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    float: right;
    
    gap: 80px;
    margin-top: 0;
    font-size: 20px;
    padding-left: 1000px;
   
}
header{
    
    background-color: rgb(125, 254, 239);
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
h3{
    font-size: 30px;
}
main{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    padding-left: 500px;
    text-align: center;
    
    
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.fig{
    background-color: rgb(255, 147, 147);
    padding: 10px;
    width: 450px;
}
p{
    font-size: 25px;
}
#c{
    text-decoration: underline;
    color: whitesmoke;
    font-size: 40px;
}

