header{
    background-color:antiquewhite;
    
    
}
h3{
    padding: 10px;
    color: darkcyan ;
    padding-left: 50px;
    font-size: 30px;
}
body{
    background-color: darkcyan;
}
h1,h2{
    color:antiquewhite;
}
main{
    padding-top: 50px;
    padding-left: 50px;
    width: 300px;
}
.fig{
    background-color: brown;
    width: 400px;
    padding: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
    
}
p{
    color: antiquewhite;
    font-size: 25px;
}
#c{
    color: antiquewhite;
    padding-left: 0;
}
.icon{
    position: absolute;
    top: 180px;
    left: 1000px;
}
