body{
    background-color: bisque;
    box-sizing: border-box;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 300px 300px 300px 200px;
    grid-template-rows: 350px 350px;
}
.class1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blueviolet;
    border-radius: 15px;
}
.class2{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(136, 174, 194);
    border-radius: 15px;
}
.class3{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(232, 241, 136);
    border-radius: 15px;
}
.class4{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(251, 125, 163);
    border-radius: 15px;
}
.class5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(134, 232, 181);
    border-radius: 15px;
}
.text{
    padding-left: 55px;
}
.text3{
    padding-left: 65px;
}
.text4{
    padding-left: 95px;
}
.text5{
    padding-left: 20px;
    padding-top: 50px;
}
.text6{
    padding-left: 100px;
}
.text2{
    font-size: 20px;
    padding: 10px;
}
.image1{
    position: absolute;
    top: 20px;
    width: 45px;
    height: 60px;
    left: 10px;
}
.image2{
    position: absolute;
    top: 20px;
    left: 630px;
    height: 60px;
    width: 45px;
}
.image3{
    position: absolute;
    top: 20px;
    width: 45px;
    height: 60px;
    left: 950px;
}
.image4{
    position: absolute;
    top: 370px;
    width: 45px;
    height: 60px;
    left: 10px;
}
.image5{
    position: absolute;
    top: 370px;
    width: 45px;
    height: 60px;
    left: 320px;
}