h1{
    text-align: center;
    font-size: 30px;
}

form{
    background-color: rgb(255, 220, 167);
    display: block;
    margin:auto;
    width: 400px;
    padding: 20px;
}
label{

    padding: 7px;
}
input{
    padding: 7px;
}
button{
    display: block;
    color: rgb(8, 8, 8);
    margin:auto;
    width: 200px;
    padding: 2px;
    cursor: pointer;

}
button:hover{
    color: rgb(237, 120, 120);
    font-size: 15px;
}